 <div class="container">
    <div class="row">
      <div class="col-md-3 shadow-lg" *ngFor="let p of getData()">
          <div class="card mb-5 ml-2" style="width: 15rem;">
            <img class="mx-auto d-block img-responsive img-fluid" src="{{p.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary text-center">{{p.name}}</h5>
              <h6 class="card-title text-center text-danger">RS {{p.price}}</h6>
              <p class="card-text">if you buy this pack your eligible for prime user,you have eligible  for 70% discount!!!</p>
              <a href="javascript:void()" class="btn btn-success " (click)="addToCart(p)">BUY NOW</a>
            </div>
          </div>
      </div>
    </div>
</div>

