 <div class="bg-dark">
 <div class="container">
    <div class="row">
      <div class="col-md-3 shadow-lg" *ngFor="let p of getData()">
          <div class="card mb-5 ml-2 position-relative" style="width: 15rem;"><button class="button button5 position-absolute ml-18"><i class="fas fa-heart"></i></button>

            <img  class="mx-auto d-block img-responsive img-fluid" src="{{p.image}}" class="card-img-top" alt="...">
            <div class="card-body" >
              <h5 class="card-title text-primary text-center">{{p.name}}</h5>
              <span class="position-absolute badge badge-info ">{{p.dis}}%</span>
              <p class="card-title text-center text-dark"><b><i class="fas fa-rupee-sign"></i>{{p.price*p.discount}}</b> <small> <s class="text-dark">RS{{p.price}}</s></small></p>
              <p class="card-text">if you buy this pack your eligible for prime user,you have eligible  for 70% discount!!!</p>
              <a href="javascript:void()" class="btn btn-success " (click)="addToCart(p)">BUY NOW</a>
            </div>
          </div>
      </div>
    </div>
</div>
</div>

